<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>적용하려면 리스프링이 필요합니다.</string>
			<key>label</key>
			<string>기본</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>dynamicWidgetSizing</string>
			<key>label</key>
			<string>동적 위젯 크기 조절</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>disableDock</string>
			<key>label</key>
			<string>독 비활성화</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>scaleInsideFolders</string>
			<key>label</key>
			<string>폴더 안 아이콘 크기 조절</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>홈 화면 제스처를 끕니다. 앱 보관함 제스처는 플로팅 독 사용 중에는 비활성화되지 않습니다.</string>
			<key>label</key>
			<string>홈 화면 제스처</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>disableTodayGesture</string>
			<key>label</key>
			<string>오늘 보기 비활성화</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>disableAppLibraryGesture</string>
			<key>label</key>
			<string>앱 보관함 비활성화</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>적용하려면 리스프링이 필요합니다.</string>
			<key>label</key>
			<string>iPad/플로팅 독</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>forceFloatingDock</string>
			<key>label</key>
			<string>플로팅 독 강제</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>disableFloatingDockGestures</string>
			<key>label</key>
			<string>독 제스처 비활성화</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>floatingDockAppLibrary</string>
			<key>label</key>
			<string>앱 보관함 표시</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>floatingDockRecents</string>
			<key>label</key>
			<string>최근 앱 표시</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>maxFloatingDockRecents</string>
			<key>validTitles</key>
			<array>
					<string>한 개</string>
					<string>두 개</string>
					<string>세 개</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>바로 반영되지 않으면 다른 페이지로 이동했다가 돌아오세요.</string>
			<key>label</key>
			<string>항목 숨기기</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hideBadges</string>
			<key>label</key>
			<string>아이콘 뱃지 숨기기</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hidePageDots</string>
			<key>label</key>
			<string>페이지 인디케이터 숨기기</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hideFolderIconBG</string>
			<key>label</key>
			<string>폴더 아이콘 블러 숨기기</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>바로 반영되지 않으면 다른 페이지로 이동했다가 돌아오세요.</string>
			<key>label</key>
			<string>아이콘 레이블</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hideLabels</string>
			<key>label</key>
			<string>홈화면에서 숨기기</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hideLabelsAppLibrary</string>
			<key>label</key>
			<string>앱 보관함에서 숨기기</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hideLabelsFolders</string>
			<key>label</key>
			<string>폴더에서 숨기기</string>
		</dict>
	</array>
	<key>title</key>
	<string>기본</string>
</dict>
</plist>
